# Name of the database; no need to change this field
database:ldbc

# User of the database;  no need to change this field
user:ldbc

# Password for the user of the database; please fill in
password:

# Location of the substitution parameter files containing files such as query_1_param.txt and others; please update as necessary
parameterFilesDirectory:/home/user/ldbc_snb_datagen/substitution_parameters

# Location of the dataset in the CVS format, one entitity/relation per file (i.e., merged)
datasetDirectory:/home/user/ldbc_snb_datagen/social_network_merged

# Uncomment next line for verbose output (i.e., results of the queries)
#beVerbose:true

# Uncomment next line for timing  output
#measureLatency:true

# Uncomment next line to print heap usage before every query
#printHeapUsage:true

# Uncomment the line at the end of this comment block to get an
# explanation of the query's execution plan
# This parameter will use the first line of the given substitution
# parameter file to produce the explanation and then quit; the
# explanation will be output in tab-separated lines fit to import in a
# spreadsheet; for a description of the output see MySQL's user's
# guide; the values of beVerbose and printHeapUsage parameters are
# ignored
#explain:true
